.backg{
	position: relative;
	width: 500px;
	height: 400px;
	background-color: #81ccc7;
}
.clouds{
	position: absolute;
	content: url("clouds.svg");
	width: 330px;
	right: 0;
}
.water{
	position: absolute;
	bottom: 0;
	z-index: 2;
	content: url("water.svg");
}
.ship{
	position: absolute;
	content: url("wooden-ship.svg");
	width: 100px;
	bottom: 33px;
	left: 23px;
	z-index: 1;
}
.world{
	position: absolute;
	bottom: 0;
	content: url("world.svg");
}